.eslintcache
build/
node_modules/
yarn-error.log

# distribution folder
dist/*
!dist/index.html

# yarn with zero-install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions