body {
    background-color: black;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mapContainer {
    display: block;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#map {
    display: block;
}

#menu {
    background: rgba(85, 85, 85, 0.7);
    display: flex;
    padding: 5px;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
}

#stats {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

@media only screen and (max-width: 500px) {
    #stats {
        display: flex;
        flex-direction: column;
    }
}

#stats div {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.titlebar {
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.tabs div,
.selectLabel,
#menu button,
.material-icons {
    cursor: pointer;
}

#menu button:hover,
.material-icons:hover {
    color: darkgray;
}

#menu button:active,
.material-icons:active {
    color: gray;
}

#menu button {
    text-align: center;
    padding: 0;
    border: none;
    background: none;
    color: white;
    outline: none;
}

.panel {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0);
    background-color: rgba(85, 85, 85, 0.9);
    border: 1px solid rgb(46, 46, 46);
}

.panel-content {
    max-height: 70vh;
    max-width: 70vw;
    overflow: auto;
}

.panel div {
    padding: 0 3px;
}

nav.tabs {
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 0;
}

nav.tabs div {
    display: inline;
    padding: 2px 5px;
    border: 1px solid black;
}

.selectLabel:hover,
nav.tabs div:hover {
    background-color: darkgray;
}

nav.tabs div:active {
    background-color: rgb(46, 46, 46);
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
tr,
td {
    border: 1px solid black;
}